<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.actionbarsherlock.sample.shakespeare"
    android:versionCode="55"
    android:versionName="3.5.1" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <application
        android:icon="@drawable/icon"
        android:label="CoolCare"
        android:largeHeap="true"
        android:theme="@style/Theme.Sherlock.Light" >
        <activity
            android:name="io.github.czxttkl.game.login.LoginActivity"
            android:label="CoolCare"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.github.czxttkl.game.mainscreen.MainScreenActivity"
            android:label="MainScreen"
            android:screenOrientation="portrait" />
        <activity
            android:name="io.github.czxttkl.game.create.CameraActivity"
            android:label="Camera"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="io.github.czxttkl.game.progress.ProgressActivity"
            android:label="My Challenges" >
        </activity>
        <activity
            android:name="io.github.czxttkl.game.join.JoinActivity"
            android:label="Browse Challenges" >
        </activity>
        <activity
            android:name="io.github.czxttkl.game.graph.GraphActivity"
            android:label="Browse Challenges" >
        </activity>
        <activity
            android:name="io.github.czxttkl.game.create.ChallengeActivity"
            android:label="Challenge"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="io.github.czxttkl.game.join.JoinDetailActivity"
            android:label="Browse Challenges" >
        </activity>
        <activity
            android:name="io.github.czxttkl.game.progress.ProgressDetailActivity"
            android:label="My Challenges" >
        </activity>
        
        <activity
            android:name="io.github.czxttkl.game.progress.UpdateProgress"
            android:label="Upload"
            android:screenOrientation="portrait"  >
        </activity>
        
        <activity
            android:name="io.github.czxttkl.game.help.HelpViewpager"
            android:label="Help" 
            android:screenOrientation="portrait">
        </activity>
        
        <activity
            android:name="io.github.czxttkl.i3.I3"
           android:screenOrientation="landscape" 
           android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
    </application>

</manifest>